{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ name }}
{% endblock %}

{% block body %}
    <h1>{{ name }}</h1>
    <hr>
    <p>{{ content|safe }}</p>
    <form action="{% url 'encyclopedia:edit' %}" method="GET">
        <button class="btn btn-warning" type="submit" name="q" value="{{ name }}">
            Edit Page
        </button>
    </form>
    <form action="{% url 'encyclopedia:delete' %}" method="GET">
        <button class="btn btn-danger" type="submit" name="q" value="{{ name }}">
            Delete Page
        </button>
    </form>
{% endblock %}